<link rel="stylesheet" href="/css/ayuda.css" />


{{> navigation}}

<main class="index" style="width:100%">
    <h1 class="mb-1" style="margin: 25;">
        AYUDA
    </h1>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="box-shadow-full">
                    <div class="row">
                        <div class="col-md-6">
                            <h2 style="margin: auto;margin-bottom: 20;">
                                PREGUNTAS FRECUENTES
                            </h2>
                            <h3>¿Tengo que tener 18 años para poder registrame?</h3>
                            <h4>Sí.</h4>
                            <h3>¿Tengo que tener tarjeta de credito para comprar un libro?</h3>
                            <h4>No es necesario, todo depende del vendedor al momento que te comunicas con él.</h4>
                            <h3>¿Cuantos libros puedo comprar?</h3>
                            <h4>La cantidad que desees.</h4>
                            <h3>¿En cuanto tiempo me llega el libro?</h3>
                            <h4>Eso depende de como hallas quedado con el vendedor a la hora de comprar el libro.</h4>
                        </div>
                        <div class="col-md-6">
                            <h2 style="margin: auto;margin-bottom: 20;">REALIZAR CONSULTA</h2>

                            <h3>Titulo de consulta</h3>
                            <div class="wrap-mensaje validate-input alert-validate" data-validate="Name is required">
                                <input class="mensaje" type="text" name="name" placeholder="Título..." spellcheck="false" data-ms-editor="true">
                                <span class="focus-mensaje"></span>
                            </div>

                            <h3>Cuerpo del mensaje</h3>
                            <div class="contenedor-mensaje validate-input" data-validate="Message is required">
                                <textarea class="mensaje" name="message" placeholder="Comentario..." spellcheck="false" data-ms-editor="true"></textarea>
                                <span class="focus-mensaje"></span>
                            </div>
                            <div class="text-center">
                                <button type="button" class="btn btn-primary" style="font-size: 17px;font-weight: 900;">ENVIAR CONSULTA</button>
                            </div>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </div>

</main>

