<main class="index">
    <header class="masthead d-flex">
        <div class=".container text -center my-auto">
            <h1 class="mb-1">
                Libros favoritos
            </h1>
            <h3>
                <em>Almacena tus libros</em>
            </h3>
            <a href="/login" class="btn btn-primary">
                Iniciemos
            </a>
        </div>
    </header>
</main>