<link rel="stylesheet" href="/css/index.css" />

{{> navigation}}
<main class="index" style="width:100%">

  <div
    style="display: flex; align-items: center; gap: 30px; width:100%; padding-left: 5rem; margin: 1rem 0"
  >
    <figure style="width: 23%">
      <img style="width:70%" src="/img/l1.jpg" />
    </figure>
    <figure style="width: 23%">
      <img style="width:70%" src="/img/l2.jpg" />
    </figure>
    <figure style="width: 23%">
      <img style="width:70%" src="/img/l3.jpg" />
    </figure>
    <figure style="width: 23%">
      <img style="width:70%" src="/img/l4.png" />
    </figure>
  </div>
</main>