<div class="container p-4">
    <div class="row">
        <div class="card text-center">
            <h3>Bienvenido {{user.apellidoPaterno}}</h3>
            <h4>Tu nombre es: {{user.nombre}}</h4>
            <h4>Tu correo es: {{user.correo_electronico}}</h4>
        </div>
    </div>
</div>