.Contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e1e8e9;
  height: 562px;
}

.DivCont {
  background-color: #e9e9e9;
  display: flex;
  align-items: center;
  height: 600px;
  width: 80%;
  margin: auto;
}

.DivImg {
  display: flex;
  width: 55%;
  justify-content: center;
  align-items: center;
}

.DivImg figure {
  width: 100%;
}
.DivImg figure img {
  width: 100%;
  filter: brightness(1.1);
  mix-blend-mode: multiply;
}

.formulario-registro {
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  row-gap: 1rem;
}

.formulario-registro h1 {
  font-style: normal;
  font-weight: 900;
  font-size: 2.5rem;
  color: rgba(0, 0, 0, 0.79);
  grid-column: span 2;
}
.formulario__input-error {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  display: none;
}

.formulario__input-error-activo {
  display: block;
}

.formulario__grupo-input {
  position: relative;
}

.formulario__validacion-estado {
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 100;
  font-size: 16px;
  opacity: 0;
}

.GrupoInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Label {
  font-style: normal;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.79);
}

.Input {
  margin-top: 10px;
  min-height: 35px;
  padding-left: 5px;
  padding-right: 5px;

  line-height: 20px;

  font-size: 0.9rem;
}

.Input:focus {
  border: 2px solid rgba(0, 0, 0, 0.79);
  outline: none;
}

.OlvidarContra {
  display: flex;
}

.OlvidarContra button {
  background: transparent;
  margin-left: auto;
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.69);
  border: transparent;
  cursor: pointer;
  position: relative;
  top: -1.4rem;
  text-align: right;
}

.GrupoBoton {
  display: flex;
  justify-content: center;
  grid-column: span 2;
}

.Boton {
  background-color: #36a7f7;
  border-radius: 20px;
  height: 40px;
  cursor: pointer;
  border: none;
  width: 60%;
  font-weight: 900;
  font-size: 1.25rem;
  line-height: 23px;

  color: white;
}

.IrLogeoRegistrar {
  font-size: 1.063rem;
  font-weight: 900;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.79);
  grid-column: span 2;
}

.Enlace {
  font-weight: 900;
  font-size: 17px;
  line-height: 20px;
  border: transparent;
  cursor: pointer;
  margin-left: 5px;
  text-decoration: none;
  color: #000;
}

.GrupoComponenteGrupo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 25px;
}

.formulario-login {
  position: relative;
  width: 30%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  left: 5%;
}

.mensaje {
  grid-column: span 2;
  text-align: center;
  color: #bb2929;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
  color: #1ed12d;
  opacity: 1;
}

.formulario__grupo-incorrecto .Label {
  color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
  color: #bb2929;
  opacity: 1;
}

.formulario__grupo-incorrecto .Input {
  border: 3px solid #bb2929;
}
