.DivCont {
  background-color: #e9e9e9;
  width: 90%;
  display: flex;
  margin: auto;
  height: 1200px;
}

.ContDatosIzq {
  width: 22%;
}

.DivImg {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.DivImg figure {
  width: 95%;
  margin: auto;
}

.DivImg img {
  margin-top: 15px;
  border: 5px solid #36a7f7;
  box-sizing: border-box;
  border-radius: 10px;
}

.DivImg label {
  font-weight: 900;
  font-size: 23px;
  line-height: 27px;
  color: rgba(27, 27, 27, 0.76);
  margin-bottom: 15px;
  text-align: center;
  margin-top: 15px;
}

.DivImg input {
  margin-bottom: 2rem;
  font-size: 0.93rem;
  color: rgba(0, 0, 0, 0.79);
}

.Img {
  width: 100%;
}

.GrupoContacto h2 {
  text-align: center;
}

.Contactos {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.Contactos figure {
  width: 22%;
  margin: 0 auto;
}

.Enlaces {
  width: 95%;
  margin: 10px auto;
  background: white;
  outline: none;
  border: 2px solid transparent;
  border-radius: 3px;
  color: rgba(0, 0, 0, 0.79);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 0 5px;
  min-height: 30px;
  line-height: 30px;
  font-size: 0.9rem;
}

.ContDatosDer {
  width: 78%;
  margin-top: 25px;
}

.ContDatosDer h1 {
  font-weight: 900;
  font-size: 1.875rem;
  line-height: 35px;
  margin-top: 25px;
  margin-left: 15px;
}

.GrupoDatosModificar {
  display: flex;
  padding-left: 3rem;
  padding-top: 2rem;
}
.GrupoBoton,
.BotonModificar {
  display: flex;
  justify-content: center;
}

.BotonConfirmar {
  background-color: #36a7f7;
  height: 40px;
  cursor: pointer;
  border: none;
  width: 40%;
  font-weight: 900;
  font-size: 1.25rem;
  color: white;
  border-radius: 10px;
  margin-top: 50px;
}

.GrupoInfoPersonal {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
}

.GrupoInfoPersonal h3 {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: rgba(0, 0, 0, 0.72);
}

.GrupoInput {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.GrupoInput label {
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.79);
}

.GrupoInfoCuenta {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.GrupoInfoPersonal h3 {
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.79);
}

.btn-cambiar-contra {
  position: relative;
  left: 40%;
  transform: translateX(-40%);
  background-color: #36a7f7;
  height: 40px;
  cursor: pointer;
  border: none;
  font-weight: 400;
  font-size: 1.1rem;
  color: white;
  border-radius: 10px;
  width: 40%;
}

.Input {
  width: 80%;
  margin-left: 5px;
  background: white;
  outline: none;
  border: 1px solid transparent;
  border-radius: 3px;
  color: rgba(0, 0, 0, 0.79);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 0 10px;
  min-height: 40px;
  line-height: 30px;
  font-size: 1.05rem;
}

.Input :focus {
  border: 2px solid rgba(0, 0, 0, 0.79);
  outline: none;
}

.genero {
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;
}

.GrupoInputRadio {
  margin: 0 0 5px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.GrupoInputRadio label {
  margin-bottom: 10px;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  color: rgba(0, 0, 0, 0.79);
}

.libros-publicados {
  margin-left: 4rem;
  margin-top: 3rem;
  width: 85%;
}

.mis-libros {
  display: flex;
  justify-content: space-between;
}

.libro {
  width: 20%;
  color: rgba(27, 27, 27, 0.76);
  text-align: center;
}

.libro figure img {
  width: 100%;
}

.libro h3 {
  font-size: 1.3rem;
  margin-top: 0.6rem;
  text-align: center;
}

.libro p {
  font-weight: 900;
  font-size: 1.5rem;
  margin-top: 0.6rem;
  text-align: center;
}

.libro h4 {
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1rem;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.libro div {
  font-size: 1.5rem;
}

.libro button {
  background-color: #36a7f7;
  cursor: pointer;
  border: none;
  width: 90%;
  font-weight: 400;
  font-size: 1.3rem;
  text-decoration: none;
  color: white;
  text-align: center;
  margin: 10px 0;
  border-radius: 6px;
  line-height: 1.7rem;
}

h2 {
  font-weight: 900;
  font-size: 23px;
  line-height: 27px;
  color: rgba(27, 27, 27, 0.76);
  margin-bottom: 15px;
}

.BotonModificar a {
  background-color: #36a7f7;
  height: 40px;
  cursor: pointer;
  border: none;
  width: 30%;
  font-weight: 900;
  font-size: 1.4rem;
  line-height: 23px;
  text-decoration: none;
  color: white;
  text-align: center;
  margin: auto 0;
  border-radius: 10px;
  margin-top: 50px;
  margin-bottom: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mensaje-exito,
.mensaje-error {
  position: relative;
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 30%;
  margin-top: 1.5rem;
  display: none;
}

.mensaje-exito {
  color: #1ed12d;
}

.mensaje-error {
  color: #bb2929;
}

.mensaje-activar {
  display: block;
}

.modal-contenedor {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  width: 35%;
  height: 65%;
  background: #e1e8e9;
  border-radius: 10px;
  transform: translateY(0%);
  transition: transform 0.7s;
}

.modal-close {
  transform: translateY(-200%);
}

.cerrar {
  text-align: right;
  font-weight: 900;
  font-size: 1.5rem;
  margin-right: 15px;
  padding-top: 8px;
  cursor: pointer;
}

.btn-nueva-contra {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-color: #36a7f7;
  height: 35px;
  cursor: pointer;
  border: none;
  font-weight: 400;
  font-size: 1.1rem;
  color: white;
  border-radius: 10px;
  width: 50%;
  margin-top: 10px;
}

.form-contraseña {
  width: 75%;
  margin: 0 auto;
  margin-top: 1.2rem;
}

.mensaje-exito-contra,
.mensaje-error-contra {
  text-align: center;
  font-size: 1.2rem;
  position: relative;
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 1rem;
}

.mensaje-exito-contra {
  color: #1ed12d;
}

.mensaje-error-contra {
  color: #bb2929;
}
