<link rel="stylesheet" href="/css/nav.css" />
<script src="sweetalert2.min.js"></script>
<link rel="stylesheet" href="sweetalert2.min.css">
<div class="barra">
  <a href="/">
    <span>V</span>
    - book
  </a>
</div>
<script src="sweetalert2.all.min.js"></script>