<link rel="stylesheet" href="/css/nav.css" />

<nav class="nav">
  <div class="nav-sup">
    <div class="nav-sup__grupo-icons">
      <i class="fab fa-instagram-square"></i>
      <i class="fab fa-twitter-square"></i>
      <i class="fab fa-facebook"></i>
    </div>

    <div class="nav-sup__grupo-busqueda">
      <input type="text" placeholder="Escriba el título que esta buscando" />
      <i class="fas fa-search"></i>
    </div>

    {{#if user}}
      <div id="nav-sup__mi-cuenta" class="nav-sup__mi-cuenta">
        <i class="fas fa-user-circle"></i>
        <span>
          Mi
          <b>Cuenta</b>
        </span>
        <ul
          id="nav-sup__sublista"
          class="nav-sup__sub-menu-active nav-sup__sub-menu-disactive"
        >
          <li>
            <a href="/perfil">Ir a mi perfil</a>
          </li>
          <li>
            <a href="/links/edituser/datos/{{user.dni}}">Editar Perfil</a>
          </li>
          <li>
            <a href="/logout">Cerrar Sesión</a>
          </li>
        </ul>
      </div>
    {{/if}}

    <div class="nav-sup__grupo-registrar">
      {{#if user}}
        <a href="/links/add">PUBLICA UN LIBRO</a>
      {{else}}
        <a href="/login">INICIAR SESIÓN</a>
      {{/if}}
    </div>
  </div>

  <div class="nav-inf">
    <div class="nav-inf__grupo-logo">
      <a href="/">
        <span>V</span>- book
      </a>
    </div>
    <ul class="nav-inf__listas">
      <li class="nav-inf__lista">
        <a href="/categorias" class="nav-inf__item">
          Categorias
          <i class="fas fa-angle-right"></i>
        </a>
        <ul class="nav-inf__sublistas">
          <li>
            <a href="#">Épico</a>
          </li>
          <li>
            <a href="#">Lírico</a>
          </li>
          <li>
            <a href="#">Dramático</a>
          </li>
          <li>
            <a href="#">Narrativo</a>
          </li>
          <li>
            <a href="#">Expositivo</a>
          </li>
        </ul>
      </li>
      <li class="nav-inf__lista">
        <a class="nav-inf__item" href="/ayuda">Ayuda</a>
      </li>
      <li class="nav-inf__lista">
        <a class="nav-inf__item" href="/denunciar">Denunciar</a>
      </li>
      <li class="nav-inf__lista">
        <a class="nav-inf__item" href="/nostros">Nosotros</a>
      </li>
    </ul>
  </div>
</nav>

<script src="/js/nav.js"></script>