{{!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">V-BOOK</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        {{#if user}}
          <li class="nav-item active">
            <a class="nav-link" href="/links/mislibros">Mis libros</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Categorías
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Épico</a>
              <a class="dropdown-item" href="#">Lírico</a>
              <a class="dropdown-item" href="#">Dramático</a>
              <a class="dropdown-item" href="#">Narrativo</a>
              <a class="dropdown-item" href="#">Expositivo</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/links/add">Publicar libro</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Lo más vendido</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Ayuda</a>
          </li>
          <li class="nav-item">
            <a href="/perfil" class="nav-link">Mi Perfil</a>
          </li>
          <li class="nav-item">
            <a href="/logout" class="nav-link">Cerrar Sesión</a>
          </li>
        {{else}}
          <li class="nav-item">
            <a href="/login" class="nav-link">Iniciar Sesion</a>
          </li>
          <li class="nav-item">
            <a href="/registro" class="nav-link">Regístrate</a>
          </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>  --}}

<link rel="stylesheet" href="/css/nav.css" />

<nav class="nav">
  <div class="nav-sup">
    <div class="nav-sup__grupo-icons">
      <i class="fab fa-instagram-square"></i>
      <i class="fab fa-twitter-square"></i>
      <i class="fab fa-facebook"></i>
    </div>

    <div class="nav-sup__grupo-busqueda">
      <input type="text" placeholder="Escriba el título que esta buscando" />
      <i class="fas fa-search"></i>
    </div>

    {{#if user}}
      <div class="nav-sup__grupo-perfil">
        <a class="nav-sup__mi-cuenta" href="/perfil">
          <i class="fas fa-user-circle"></i>
          <span>
            Mi
            <b>Perfil</b>
          </span>
        </a>
      </div>
    {{/if}}

    <div class="nav-sup__grupo-registrar">
      {{#if user}}
        <a href="/links/add">PUBLICA UN LIBRO</a>
      {{else}}
        <a href="/login">INICIAR SESIÓN</a>
      {{/if}}
    </div>
  </div>

  <div class="nav-inf">
    <div class="nav-inf__grupo-logo">
      <a href="/">
        <span>V</span>- book
      </a>
    </div>
    <ul class="nav-inf__listas">
      <li>
        <a href="/categorias">Categorias</a>
      </li>
      <li>
        <a href="/links/mislibros">Mis libros</a>
      </li>
      <li>
        <a href="/ayuda">Ayuda</a>
      </li>
      <li>
        <a href="/denunciar">Denunciar</a>
      </li>
    </ul>
  </div>
</nav>