{{> barra}}

<div class="container p-4">
  <div class="row">
    {{#each libro}}
      <div class = "cool-md-3">
        <div class = "card text-center">
          <div class = "card-body">
            
            <h3 class = "card-title text-uppercase"> {{titulo}}</h3>
            
            <br>
            <label class="m-2">Autor:  {{autor}} 
            <br>
            <br>
            <a href="/links/deletebook/{{idLibro}}" class="btn btn-danger">Eliminar</a>
            <a href="/links/editbook/{{idLibro}}" class="btn btn-secondary">Editar</a>
             
          </div>

        </div>

      </div>


    {{/each}}
  </div>
</div>

