<link rel="stylesheet" href="/css/perfil-modificar.css" />

{{> barra}}
<div class="DivCont">
  <div class="ContDatosIzq">
    <div class="DivImg">
      <figure>
        <img class="Img" src="/img/messi.jpg" alt="Foto Perfil" />
      </figure>
      <button>Editar Foto</button>
    </div>

    <div class="GrupoContacto">
      <h2>Contactos</h2>

      <div class="Contactos">
        <figure>
          <img class="Img" src="/img/wsp.png" alt="WhatsApp" />
        </figure>
        <input class="Enlaces" type="url" placeholder="link de WhatsApp" />
      </div>

      <div class="Contactos">
        <figure>
          <img class="Img" src="/img/twitter.jpg" alt="Twitter" />
        </figure>
        <input class="Enlaces" type="url" placeholder="link de Twitter" />
      </div>

      <div class="Contactos">
        <figure>
          <img class="Img" src="/img/instagram.png" alt="Instagram" />
        </figure>
        <input class="Enlaces" type="url" placeholder="link de Instagram" />
      </div>

      <div class="Contactos">
        <figure>
          <img class="Img" src="/img/fb.png" alt="Facebook" />
        </figure>
        <input class="Enlaces" type="url" placeholder="link de Facebook" />
      </div>

      <div class="Contactos">
        <figure>
          <img class="Img" src="/img/watt.png" alt="Wattpad" />
        </figure>
        <input class="Enlaces" type="url" placeholder="link de Wattpad" />
      </div>
    </div>

  </div>
  <div class="ContDatosDer">

    <h1>Sebastian Elias Ramos Villanueva</h1>

    <div class="GrupoDatosModificar">
      <div class="GrupoInfoPersonal">
        <h2>Información Personal</h2>

        <div class="GrupoInput">
          <label for="nombres">Nombres</label>
          <input class="Input" type="text" id="nombres" placeholder="" />
        </div>

        <div class="GrupoInput">
          <label for="apellidoP">Apellido Paterno</label>
          <input class="Input" type="text" id="apellidoP" placeholder="" />
        </div>

        <div class="GrupoInput">
          <label for="apellidoM">Apellido Materno</label>
          <input class="Input" type="text" id="nombres" placeholder="" />
        </div>

        <div class="GrupoInput">
          <label for="celular">Número Celular</label>
          <input class="Input" type="tel" id="celular" placeholder="" />
        </div>

        <div class="genero">
          <h3>Género</h3>
          <div class="GrupoInputRadio">
            <label>
              <input type="radio" value="masculino" />
              Masculino
            </label>
            <label>
              <input type="radio" value="femenino" />
              Femenino
            </label>
            <label>
              <input type="radio" value="otro" />
              Otro
            </label>
          </div>
        </div>

        <div class="GrupoInputRadio">
          <label>
            <input type="radio" value="femenino" />
            Femenino
          </label>
        </div>

        <div class="GrupoInputRadio">
          <label>
            <input type="radio" value="otro" />
            Otro
          </label>
        </div>

        <div class="GrupoInput">
          <label for="nacimiento">Fecha de Nacimiento</label>
          <input class="Input" type="date" id="nacimiento" placeholder="" />
        </div>
      </div>

      <div class="GrupoInfoCuenta">
        <h2>Información de la cuenta</h2>

        <div class="GrupoInput">
          <label for="usuario">Usuario</label>
          <input class="Input" type="text" id="usuario" placeholder="" />
        </div>

        <div class="GrupoInput">
          <label for="correo">Correo</label>
          <input class="Input" type="email" id="correo" placeholder="" />
        </div>

        <div class="GrupoInput">
          <label for="contra">Contraseña</label>
          <input class="Input" type="password" id="contra" placeholder="" />
        </div>

        <h2>Dirección</h2>

        <div class="GrupoInput">
          <label for="distrito">Distrito</label>
          <select name="distrito" class="Input">
            <option value="d1">Ancon 1</option>
            <option value="d2">San Juan 2</option>
            <option value="d3">Hola</option>
          </select>
        </div>

        <div class="GrupoInput">
          <label for="direc">Dirección</label>
          <input class="Input" type="text" id="direc" placeholder="" />
        </div>

      </div>
    </div>
    <div class="GrupoBoton">
      <button class="BotonConfirmar">Confirmar Edición</button>
    </div>
  </div>
</div>