<link rel="stylesheet" href="/css/loginregistrar.css" />
{{> barra}}
<div class="DivCont">
  <div class="DivImg" style="width: 45%">
    <figure style="width: 100%">
      <img src="/img/img2.jpeg" alt="imagen" />
    </figure>
  </div>
  
  
  <form
    class="formulario-registro"
    id="form-registro"
    action="/registro"
    method="post"
    style="height: 80%"
  >
    <h1 style="marginBottom: 15px">
      ¡REGISTRATE!
    </h1>

    {{#if message}}
    <div class="mensaje">
      {{message}}
    </div>
    {{/if}}

    <div id="grupo__nombre">
      <label class="Label" for="nombre">Nombres</label>
      <div class="formulario__grupo-input">
        <input
          class="Input"
          type="text"
          id="nombre"
          name="nombre"
        />
        <i class="formulario__validacion-estado fas fa-times-circle"></i>
      </div>
      <p class="formulario__input-error">El nombre no debe exceder los 50
        digitos.</p>
    </div>

    <div id="grupo__apellido">
      <label class="Label" for="apellido">Apellido Paterno</label>
      <div class="formulario__grupo-input">
        <input
          class="Input"
          type="text"
          id="apellido"
          name="apellidoPaterno"
        />
        <i class="formulario__validacion-estado fas fa-times-circle"></i>
      </div>
      <p class="formulario__input-error">El apellido paterno no debe exceder los
        50 digitos.</p>
    </div>

    <div id="grupo__dni">
      <label class="Label" for="dni">DNI</label>
      <div class="formulario__grupo-input">
        <input
          class="Input"
          type="text"
          id="dni"
          name="dni"
        />
        <i class="formulario__validacion-estado fas fa-times-circle"></i>
      </div>
      <p class="formulario__input-error">El dni debe tener 8 digitos</p>
    </div>

    <div id="grupo__correo">
      <label class="Label" for="correo">Correo</label>
      <div class="formulario__grupo-input">
        <input
          class="Input"
          type="email"
          id="correo"
          name="correo_electronico"
        />
        <i class="formulario__validacion-estado fas fa-times-circle"></i>
      </div>
      <p class="formulario__input-error">El correo solo puede contener letras,
        numeros, puntos, guiones y guion bajo</p>
    </div>

    <div id="grupo__contra">
      <label class="Label" for="contra">Contraseña</label>
      <div class="formulario__grupo-input">
        <input
          class="Input"
          type="password"
          id="contra"
          name="password"
        />
        <i class="formulario__validacion-estado fas fa-times-circle"></i>
      </div>
      <p class="formulario__input-error">La contraseña tiene que ser de 4 a 10
        dígitos.</p>
    </div>

    <div id="grupo__password2">
      <label class="Label" for="contra2">Confirmar Contraseña</label>
      <div class="formulario__grupo-input">
        <input
          class="Input"
          type="password"
          id="contra2"
          name="password2"
        />
        <i class="formulario__validacion-estado fas fa-times-circle"></i>
      </div>
      <p class="formulario__input-error">Ambas contraseñas deben ser iguales.</p>
    </div>

    <div class="GrupoBoton" style="width: 100%">
      <button class="Boton" style="width: 35%">Registrarse</button>
    </div>

    <div class="IrLogeoRegistrar">
      <p>
        ¿Ya tienes cuenta?
        <a class="Enlace" href="/login">INICIAR SESIÓN</a>
      </p>
    </div>

  </form>
</div>

<script src="/js/registrar.js"></script>