<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>Registro</h3>
                </div>
                <div class="card-body">
                        <form action="/registro" method="post">
                            <div class="form-group">
                                <input type="number" maxlength="8" name="dni" placeholder="DNI" class="form-control" autofocus>
                            </div>
                            <div class="form-group">
                                <input type="text" name="nombre" placeholder="Nombres" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text" name="apellidoPaterno" placeholder="Apellido Paterno" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text" name="apellidoMaterno" placeholder="Apellido Materno" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text" name="direccion" placeholder="Dirección" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="email" name="correo_electronico" placeholder="Correo electrónico" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="number" maxlength="9" name="telefono" placeholder="Celular" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="date" name="fecha_nac" placeholder="Fecha de Nacimiento" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text" maxlength="1" name="genero" placeholder="Género" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="password" name="password" placeholder="Contraseña" class="form-control">
                            </div>
                            
                            <div class="form-group">
                                <button class="btn btn-success btn-block">
                                    Registrarse
                                </button>
                            </div>
                        </form>
                </div>
            </div>
        </div>
    </div>
</div>